<mat-list class="tilelist" disableRipple=false>
  <mat-list-item class="mat-item">
    <span>倾斜模型1</span>
    <section class="control-container">
      <mat-slide-toggle></mat-slide-toggle>
      <button mat-icon-button color="primary">
        <mat-icon aria-label="">delete</mat-icon>
      </button>
    </section>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="mat-item">
    <span>倾斜模型1</span>
    <section class="control-container">
      <mat-slide-toggle></mat-slide-toggle>
      <button mat-icon-button color="primary">
        <mat-icon aria-label="">delete</mat-icon>
      </button>
    </section>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="mat-item">
    <span>倾斜模型1</span>
    <section class="control-container">
      <mat-slide-toggle></mat-slide-toggle>
      <button mat-icon-button color="primary">
        <mat-icon aria-label="">delete</mat-icon>
      </button>
    </section>
  </mat-list-item>
</mat-list>
