<mat-list class="tilelist" disableRipple=false *ngFor="let item of list">
  <mat-list-item class="mat-item">
    <span>{{item.name}}</span>
    <section class="control-container">
      <button mat-icon-button color="primary">
        <mat-icon aria-label="" (click)="flyToTile(item)">near_me</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon aria-label="" (click)="deleteTile(item)">delete</mat-icon>
      </button>
      <mat-slide-toggle checked={item.show} (change)="toggleTile(item)" class="slide"></mat-slide-toggle>
    </section>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
