.mapListContaner {
	width: 350px;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.mapList {
		width: 350px;
		height: 100%;
		overflow-y: auto;
	}

	.control-container {
		display: flex;
		align-items: center;
		.slide {
			margin-left: 8px;
		}
	}

	.addBtn {
		width: 100%;
	}
}
